@{
    ViewData["Title"] = "تماس با ما";
}

<!-- content
================================================== -->
<section id="content-wrap" class="site-page">
    <div class="row">
        <div class="col-twelve">

            <section>

                <div class="content-media">
                    <div id="map-wrap">
                        <div id="map-container"></div>
                        <div id="map-zoom-in"></div>
                        <div id="map-zoom-out"></div>
                    </div>
                </div>

                <div class="primary-content">

                    <h1 class="entry-title add-bottom">با ما در تماس باشید.</h1>

                    <p class="lead">
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است
                    </p>

                    <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آن چنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می‌باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می‌طلبد تا با نرم‌افزارها شناخت بیشتری را برای طراحان رایانه ای علی‌الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می‌توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساساً مورد استفاده قرار گیرد.
                    </p>

                    <div class="row">
                        <div class="col-six tab-full">
                            <h4>کجا ما را پیدا کنیم</h4>

                            <p>
                                ایران ، تهران<br>
                                کریم خان ، خیابان<br>
                                پلاک 35
                            </p>

                        </div>

                        <div class="col-six tab-full">
                            <h4>اطلاعات تماس</h4>

                            <p>
                                someone@abstractwebsite.com<br>
                                info@abstractwebsite.com <br>
                                تلفن: <span dir="ltr">(021) 555 1212</span>
                            </p>

                        </div>

                    </div>

                    <form name="cForm" id="cForm" method="post" action="">
                        <fieldset>

                            <div class="form-field">
                                <input name="cName" type="text" id="cName" class="full-width" placeholder="نام" value="">
                            </div>

                            <div class="form-field">
                                <input name="cEmail" type="text" id="cEmail" class="full-width" placeholder="ایمیل" value="">
                            </div>

                            <div class="form-field">
                                <input name="cWebsite" type="text" id="cWebsite" class="full-width" placeholder="وبسایت" value="">
                            </div>

                            <div class="message form-field">
                                <textarea name="cMessage" id="cMessage" class="full-width" placeholder="پیام..."></textarea>
                            </div>

                            <button type="submit" class="submit button-primary full-width-on-mobile">ارسال</button>

                        </fieldset>
                    </form> <!-- end form -->
                </div>

            </section>


        </div> <!-- end col-twelve -->
    </div> <!-- end row -->
</section> <!-- end content -->