<nav id="sidebar" class="active">
    <div class="sidebar-header" style="text-align: center;">
        <img style="max-width: 10%;" src="~/images/logo.png" alt="bootraper logo" class="app-logo">
    </div>
    <ul class="list-unstyled components text-secondary">
        <li>
            <a href="/Admin"><i class="fas fa-home"></i> Dashboard</a>
        </li>
        <li>
            <a href="/Admin/Admin/Users"><i class="fas fa-user-friends"></i>Users</a>
        </li>
        <li>
            <a href="/Admin/Admin/Posts"><i class="fas fa-newspaper"></i>Posts</a>
        </li>
        <li>
            <a href="/Admin/Admin/Comments"><i class="fas fa-envelope"></i>Comments</a>
        </li>
        <li>
            <a href="/Admin/Admin/Reactions"><i class="fas fa-thumbs-up"></i>Reactions</a>
        </li>
        <li>
            <a href="/Admin/Admin/Categories"><i class="fas fa-certificate"></i>Categories</a>
        </li>
    </ul>
</nav>