<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewData["Title"] - خبرگزاری NJR</title>
    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="~/css/base.css">
    <link rel="stylesheet" href="~/css/vendor.css">
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/nav.scss" />
    <link rel="stylesheet" href="~/css/Login.css" />
    <link rel="stylesheet" href="~/css/Register.css" />
    <link rel="stylesheet" href="~/css/profile.css" />
    <!-- script
    ================================================== -->
    <script src="~/js/modernizr.js"></script>
    <script src="~/js/pace.min.js"></script>
    <!-- favicons
     ================================================== -->
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
</head>
<body>
    <header class="short-header">

        <div class="gradient-block"></div>

        <div class="row header-content">

            <!-- start main-nav-wrap -->
            <partial name="_navbar" />
            <!-- end main-nav-wrap -->

            <div class="search-wrap">

                <form role="search" method="get" class="search-form" asp-controller="Home" asp-action="Search">
                    <label>
                        <span class="hide-content">جستجو برای:</span>
                        <input type="search" class="search-field" placeholder="چیزی تایپ کنید" name="search"
                               title="جستجو برای:" autocomplete="off">
                    </label>
                    <input type="submit" class="search-submit" value="جستجو">
                </form>

                <a href="#" id="close-search" class="close-btn">بستن</a>

            </div> <!-- end search wrap -->

            <div class="triggers">
                <a class="search-trigger" href="#"><i class="fa fa-search"></i></a>
                <a class="menu-toggle" href="#"><span>منو</span></a>
            </div> <!-- end triggers -->

        </div>

    </header> <!-- end header -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <partial name="_footer" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- Java Script
    ================================================== -->
    <script src="~/js/jquery-3.7.1.min.js"></script>
    <script src="~/js/plugins.js"></script>
    <script src="~/js/main.js"></script>

    @await RenderSectionAsync("Scripts", false)
</body>
</html>
