@{
    ViewData["Title"] = "فراموشی رمز";
}

<div style="margin-top: 3%;">
    <form class="login_form" asp-action="ForgotPassword">
        <h2>فراموشی رمز</h2>
        <input name="email" style="margin-right: 25%; width: 50%;" type="email" placeholder="ایمیل خود را وارد کنید">
        <input type="submit" value="ثبت">
    </form>
</div>