@model CMS.Core.DTOs.ResetPasswordViewModel
@{
    ViewData["Title"] = "بازیابی رمز عبور";
}

<div style="margin-top: 3%;">
    <form class="registration_form" method="post" asp-action="ResetPassword">
        <h2>بازیابی رمز عبور</h2>
        <input type="hidden" asp-for="ActiveCode" />
        <input style="margin-right: 25%; width: 50%;" asp-for="Password" type="password" placeholder="رمز عبور جدید خود را وارد کنید">
        <input style="margin-right: 25%; width: 50%;" asp-for="RePassword" type="password" placeholder="تایید رمز عبور جدید خود را وارد کنید">
        <input type="submit" class="button" value="ثبت">
    </form>
</div>