<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/css/SuccessRegister.css">
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <title>خبرگزاری NJR</title>
</head>
<body>
<div id="card" class="animated fadeIn">
    <div id="upper-side">
        <h2 id="status">موفقیت</h2>
    </div>
    <div id="lower-side">
        <h3 id="message">
            تبریک، اطلاعات حساب کاربری شما با موفقیت ویرایش شد
        </h3>
        <a href="/" id="contBtn">ادامه</a>
    </div>
</div>
</body>
<script>
    setTimeout(() => window.location = "/", 3000);
</script>
</html>